<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>"The safest, most rewarding, and seamless travel experience that exceeds your expectations at every altitude."</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="../../../../assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Safety &amp; Security </h3>
                            <p>We are dedicated to maintaining the highest safety standards.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="../../../../assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Numerous Rewards</h3>
                            <p>We believe in rewarding our valued passengers at every turn.Collect points to learn more.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="../../../../assets/images/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Your hotel from Booking.com</h3>
                            <p>Our hotel partner offers you a range of accommodation worldwide at the best price.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="../../../../assets/images/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Additional services</h3>
                            <p >Make your journey even more comfortable with our additional services.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="../../../../assets/images/couple.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
