<div class="testimonial-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 mx-auto text-center">
        <h2 class="section-title">Testimonials</h2>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-12">
        <!-- <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider" id="testimonial-slider">
                        
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer convallis volutpat dui quis scelerisque.&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="images/person-1.png" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Maria Jones</h3>
                                            <span class="position d-block mb-3">CEO, Co-Founder, XYZ Inc.</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div> 



                    </div>

                </div> -->

        <div class="main">
          <div class="testimonials">
            <input
              type="radio"
              name="testimonial"
              id="input-testimonial1"
              checked
            />
            <input type="radio" name="testimonial" id="input-testimonial2" />
            <input type="radio" name="testimonial" id="input-testimonial3" />
            <input type="radio" name="testimonial" id="input-testimonial4" />
            <div class="testimonials-inner">
              <div class="testimonial">
                <div class="testimonial-photo">
                  <div class="photo-background"></div>
                  <div class="photo-author"></div>
                </div>
                <div class="testimonial-text">
                  <p>
                    This airline's reward system has made my travel experiences
                    more affordable and enjoyable, with a user-friendly platform
                    and exceptional customer service. It's a game-changer in the
                    world of loyalty programs, and I highly recommend it to
                    fellow travelers.
                  </p>
                </div>
                <div class="testimonial-author">Anna</div>
              </div>
              <div class="testimonial">
                <div class="testimonial-photo">
                  <div class="photo-background"></div>
                  <div class="photo-author"></div>
                </div>
                <div class="testimonial-text">
                  <p>
                    The airline's reward program has made travel a delight, with
                    easy point accrual, flexible redemption options, and
                    exceptional customer service, making it a must-try for all
                    avid travelers.
                  </p>
                </div>
                <div class="testimonial-author">George</div>
              </div>
              <div class="testimonial">
                <div class="testimonial-photo">
                  <div class="photo-background"></div>
                  <div class="photo-author"></div>
                </div>
                <div class="testimonial-text">
                  <p>
                    Thanks to this airline's reward system, my travels have
                    become both affordable and enjoyable, with a straightforward
                    point accumulation process and a plethora of redemption
                    choices, all backed by exceptional customer care.
                  </p>
                </div>
                <div class="testimonial-author">Wobblepants</div>
              </div>
              <div class="testimonial">
                <div class="testimonial-photo">
                  <div class="photo-background"></div>
                  <div class="photo-author"></div>
                </div>
                <div class="testimonial-text">
                  <p>
                    This airline's reward system has transformed the way I
                    travel, offering seamless point accumulation and a wide
                    range of redemption options, making each journey more
                    rewarding and cost-effective.
                  </p>
                </div>
                <div class="testimonial-author">Sofia</div>
              </div>
            </div>
            <div class="testimonials-arrows">
              <div class="arrow arrow-left">
                <label for="input-testimonial1"></label>
                <label for="input-testimonial2"></label>
                <label for="input-testimonial3"></label>
                <label for="input-testimonial4"></label>
                <span></span>
              </div>
              <div class="arrow arrow-right">
                <label for="input-testimonial1"></label>
                <label for="input-testimonial2"></label>
                <label for="input-testimonial3"></label>
                <label for="input-testimonial4"></label>
                <span></span>
              </div>
            </div>
            <div class="testimonials-bullets">
              <label for="input-testimonial1">
                <div class="bullet">
                  <div>
                    <span></span>
                  </div>
                </div>
              </label>
              <label for="input-testimonial2">
                <div class="bullet">
                  <div>
                    <span></span>
                  </div>
                </div>
              </label>
              <label for="input-testimonial3">
                <div class="bullet">
                  <div>
                    <span></span>
                  </div>
                </div>
              </label>
              <label for="input-testimonial4">
                <div class="bullet">
                  <div>
                    <span></span>
                  </div>
                </div>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
