#checkIcon i{
    margin-top:-40px;
    background:#fff;
    border-radius:50%;
    display:inline-block;
    width:72px;
    height:72px;
    font-size: 64px;
    line-height:72px;
    box-shadow: 3px 5px 26px rgba(0,0,0,0.3)
  }