<div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1 style="line-height: 49px !important;">Wings of Rewards : <span clsas="d-block">Soar to Savings</span></h1>
            <p class="mb-4">Let your Wings of Rewards take you to new heights of savings. Collect miles every time you fly and enjoy incredible discounts, complimentary services, and unforgettable experiences. Soar to savings with us!</p>
            <p><a href="" class="btn btn-secondary me-2">Book Now</a></p>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="hero-img-wrap">
            <img src="../assets/images/plane.png" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </div>
<app-why-chose-us></app-why-chose-us>
<!-- <app-testimonials></app-testimonials> -->