<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1 style="line-height: 49px !important;">Wings of Rewards : <span clsas="d-block">Soar to Savings</span></h1>
          <p class="mb-4">Let your Wings of Rewards take you to new heights of savings. Collect miles every time you fly
            and enjoy incredible discounts, complimentary services, and unforgettable experiences. Soar to savings with
            us!</p>
          <p><a  class="btn btn-secondary me-2" (click)="updateBooking()">Book Now</a></p>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="hero-img-wrap">
          <img src="../assets/images/plane.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
<app-why-chose-us></app-why-chose-us>
<app-testimonials></app-testimonials>


<div class="modal fade" tabindex="-1" role="dialog" id="successModal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div id="checkIcon">
          <mat-icon>airplanemode_active</mat-icon>
        </div>
        <div class="mt-4 py-2">
          <p class="px-4 pb-0 mb-1 text-secondary">Successful</p>
          <h4 class="h5">Your booking is confirmed</h4>
        </div>
        <div class="py-1"><button type="button" class="btn btn-sm btn-outline-success rounded-pill px-5" data-bs-dismiss="modal">OK</button></div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="nonsuccessModal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <div id="checkIcon">
          <mat-icon>airplanemode_active</mat-icon>
        </div>
        <div class="mt-4 py-2">
          <p class="px-4 pb-0 mb-1 text-secondary"> Non Successful</p>
          <h4 class="h5">Your booking is non confirmed. Something went wrong.</h4>
        </div>
        <div class="py-1"><button type="button" class="btn btn-sm btn-outline-success rounded-pill px-5" data-bs-dismiss="modal">OK</button></div>
      </div>
    </div>
  </div>
</div>