<section>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div *ngFor="let reward of rewardsList" class="col-sm-3">
          <div class="card text-center">
            <div class="title">
              <mat-icon>airplanemode_active</mat-icon>
              <h2>{{ reward.level.description }}</h2>
            </div>
            <div class="price">
              <h4>
                From {{ reward.level.startPoint }} to
                {{ reward.level.endPoint }} points
              </h4>
            </div>
            <div class="option">
              <ul>
                <li *ngIf="reward.idreward == 1">
                  <mat-icon>check</mat-icon>
                  {{ reward.description.split("+")[0] }}
                </li>
                <li *ngIf="reward.idreward == 1">
                  <mat-icon>check</mat-icon>
                  {{ reward.description.split("Hotel +")[0] }}
                  {{ reward.description.split("Hotel +")[1] }}
                </li>
                <li *ngIf="reward.idreward != 1">
                  <mat-icon>check</mat-icon>
                  {{ reward.description.split("+")[0] }}
                </li>
                <li *ngIf="reward.idreward != 1">
                  <mat-icon>check</mat-icon>
                  {{ reward.description.split("+")[1] }}
                </li>
              </ul>
            </div>
            <a
              href="/sky-gift"
              >Gather Points Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
