h5 {
    margin-top: 5px;
    color: white;
}
mat-card {
    background-color: white;
    border-radius: 10px;
    height: 60vh;
}

table {
    width: 100%;
    margin-top: 20px;
}

th {
    color: #1f1f57;
}

th.mat-sort-header-sorted {
    color: black;
}