<div class="hero1">
    <div class="container con">
        
            <mat-card class="col-md-12 col-sm-12 mb-3">
                <mat-card-header>
                    <!-- <mat-card-subtitle>Your progress </mat-card-subtitle> -->
                    <mat-card-title>Your progress</mat-card-title>
                </mat-card-header>
                <mat-card-content class="mb-3">
                    <mat-grid-list cols="4" rowHeight="2:1" [gutterSize]="'10px'">
                        <mat-grid-tile>
                            <div class="">
                                <div class="d-block">
                                    <circle-progress [percent]="85" [showUnits]="true" [radius]="60"
                                        [outerStrokeWidth]="6" [innerStrokeWidth]="8" [outerStrokeColor]="'#FF6347'"
                                        [innerStrokeColor]="'#C7E596'" [animation]="true"
                                        [animationDuration]="300"></circle-progress>
                                </div>
                                <div class="d-block" style="text-align-last: center;">
                                    <p>{{pointsToCollected}} / {{totalFlightnumberPerLevel}} Point to <br>
                                        {{nextNevelToReach}} </p>
                                </div>
                            </div>

                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div>
                                <div class="d-block">
                                    <circle-progress [percent]="85" [radius]="60" [showUnits]="true"
                                        [outerStrokeWidth]="6" [innerStrokeWidth]="8" [outerStrokeColor]="'#71C000'"
                                        [innerStrokeColor]="'#C7E196'" [animation]="true"
                                        [animationDuration]="300"></circle-progress>
                                </div>
                                <div class="d-block" style="text-align-last: center;">
                                    <p>{{priorityCheckInPointsLeft}} / {{totalFlightnumberPerLevel}} points for priority <br>
                                        checkIn</p>
                                </div>
                            </div>

                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <div class="d-block">
                                    <circle-progress [percent]="85" [radius]="60" [showUnits]="true"
                                        [outerStrokeWidth]="6" [innerStrokeWidth]="8" [outerStrokeColor]="'#71C000'"
                                        [innerStrokeColor]="'#C7E196'" [animation]="true"
                                        [animationDuration]="300"></circle-progress>
                                </div>
                                <div class="d-block" style="text-align-last: center;">
                                    <p>{{loungeAccessPointsLeft}} / {{totalFlightnumberPerLevel}} Points for<br> Lounge
                                        Access</p>
                                </div>
                            </div>

                        </mat-grid-tile>
                        <mat-grid-tile>
                            <div>
                                <div class="d-block">
                                    <circle-progress [percent]="85" [radius]="60" [showUnits]="true"
                                        [outerStrokeWidth]="6" [innerStrokeWidth]="8" [outerStrokeColor]="'#71C000'"
                                        [innerStrokeColor]="'#C7E196'" [animation]="true"
                                        [animationDuration]="300"></circle-progress>
                                </div>
                                <div class="d-block" style="text-align-last: center;">
                                    <p>{{freeSeatUpgreadPointsLeft}} / {{totalFlightnumberPerLevel}} Points for free <br>
                                        seat Upgrade</p>
                                </div>
                            </div>

                        </mat-grid-tile>
                    </mat-grid-list>
                </mat-card-content>
            </mat-card>
       
    </div>
</div>