<div class="row">
  <app-progress-bars [points]="dataUserById?.points" [endPoint]="dataUserById?.level?.endPoint"></app-progress-bars>

  <div class="row games mt-4">
    <mat-card class="col-md-6 col-sm-6">
      <mat-card-header class="d-d-flex justify-content-between mb-3">
        <mat-card-title class="pt-2">Book more to complete the puzzle</mat-card-title>
        <button
          mat-raised-button
          [ngClass]="{ discoverButton: quarterImage1 == '' }"
          (click)="nextStep()"
          [disabled]="step === 4"
        >
          Discover More
        </button>
      </mat-card-header>

      <mat-card-content>
        <div [ngClass]="{ overlay: quarterImage1 == 'quarterImage1' }">
          <mat-grid-list cols="2" rowHeight="2:1">
            <mat-grid-tile class="img-puzzle-bg"
              ><img  [src]="quarterImage1" alt="Quarter 1" 
            /></mat-grid-tile>
            <mat-grid-tile class="img-puzzle-bg">
              <img *ngIf="step >= 2" [src]="quarterImage2" alt="Quarter 2" 
            /></mat-grid-tile>
            <mat-grid-tile class="img-puzzle-bg">
              <img *ngIf="step >= 3" [src]="quarterImage3" alt="Quarter 3" 
            /></mat-grid-tile>
            <mat-grid-tile class="img-puzzle-bg"
              ><img *ngIf="step >= 4" [src]="quarterImage4" alt="Quarter 4" 
            /></mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card class="col-md-6 col-sm-6">
      <mat-card-header class="d-d-flex justify-content-between mb-3">
        <mat-card-title class="pt-2">Collect your birthday gift</mat-card-title>
        <button
        mat-raised-button [ngClass]="{ discoverButton: quarterImage1 == '' }" [disabled]="isDisabled"
        data-bs-toggle="modal" data-bs-target="#couponModal"
      >
        Collect
      </button>
      </mat-card-header>
      <mat-card-content>
        <!-- <mat-grid-list cols="2" rowHeight="2:1">
          <mat-grid-tile class="img-puzzle-bg"
            ><img *ngIf="step >= 1" [src]="quarterImage1" alt="Quarter 1"
          /></mat-grid-tile>
          <mat-grid-tile class="img-puzzle-bg">
            <img *ngIf="step >= 2" [src]="quarterImage2" alt="Quarter 2"
          /></mat-grid-tile>
          <mat-grid-tile class="img-puzzle-bg">
            <img *ngIf="step >= 3" [src]="quarterImage3" alt="Quarter 3"
          /></mat-grid-tile>
          <mat-grid-tile class="img-puzzle-bg"
            ><img *ngIf="step >= 4" [src]="quarterImage4" alt="Quarter 4"
          /></mat-grid-tile>
        </mat-grid-list> -->
        <app-birthday-gift></app-birthday-gift>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="couponModal">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0 m-0">
        <div class="row g-0 align-items-center">
          <div class="col-sm-6 col-xs-12">
            <img src="../../../assets/images/giftPopup.PNG" alt="Gift Poster" class="img-fluid" id="leftImg">
          </div>
          <div class="col-sm-6 col-xs-12 text-center">
            <div class="px-4">
              <h2>10% Off !</h2>
              <p class="my-3 text-secondary">A perfect way to celebrate your age with our vast collection of gifts.</p>
              <p class="mt-3 mb-4 text-success">Use this code in your next booking</p>
              <label  class="form-control rounded-0">#LISBDCUPON12</label>
             
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>