.image-container {
    display: flex;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  button {
    margin: 10px;
  }

  .img-puzzle-bg {
    background: lightblue;
  }

  // .center {
  //   margin: auto;
  //   padding: 10px;
  // }
